/* Importando a fonte Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(135deg, #f7c8d4, #f4e1d2); /* Gradiente pastel */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a2d2ff; /* Tom pastel de azul */
    color: white;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

section {
    margin: 20px;
}

footer {
    background-color: #ffadad; /* Tom pastel de rosa */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

h1, h2 {
    font-weight: bold;
}

a {
    color: #ff77b6; /* Tom pastel de rosa para links */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Canvas do jogo */
canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
}
