/* Estilo geral do body */

body {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(135deg, #ffb3b3, #c1e7f4, #f7e1e1);
    /* Gradiente com tons pastel */
    color: #333;
    margin: 0;
    padding: 0;
}


/* Estilo do cabeçalho */

header {
    background-color: #f7c1d7;
    /* Cor pastel suave */
    color: #333;
    padding: 20px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    /* Deixa o cabeçalho com cantos arredondados */
}


/* Estilo para o coração pulsante ao lado do nome */

.content-coracao {
    position: absolute;
    left: 110%;
    /* Faz com que o coração apareça à direita do nome */
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulsa 1.5s ease-in-out infinite;
}


/* Animação pulsante do coração */

@keyframes pulsa {
    0% {
        transform: scale(0.9) rotate(0deg);
    }
    50% {
        transform: scale(1.1) rotate(0deg);
    }
    100% {
        transform: scale(0.9) rotate(0deg);
    }
}


/* Estilos do coração */

.square {
    transform: rotate(45deg);
    width: 25px;
    height: 25px;
    background: #e71940;
    position: absolute;
    top: 12px;
    /* Ajuste do posicionamento */
}

.circle:after,
.circle:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e71940;
}

.circle:after {
    left: 5px;
    top: 5px;
}

.circle:before {
    right: 5px;
    top: 5px;
}


/* Barra de ícones de redes sociais */

.social-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-bar a {
    margin: 0 15px;
    text-decoration: none;
}

.social-bar i {
    font-size: 30px;
    /* Tamanho dos ícones */
    color: #e71940;
}

.social-bar a:hover i {
    color: #333;
    /* Altera a cor ao passar o mouse */
}


/* Seção de conteúdo */

section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Fundo branco com leve transparência */
    border-radius: 10px;
    /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}


/* Links e estilo de lista */

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #e71940;
    /* Cor do link */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse */
}


/* Rodapé */

footer {
    background-color: #e71940;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    /* Cantos arredondados no rodapé */
}

footer a {
    color: white;
} 